body {
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding: 0;

    background: url("images/login_image.jpg") no-repeat center;
    background-color: #031229;
    
}

.container {
    width: 100%;
    max-width: 250px;
    margin: 15% auto;
}

form {
    max-width: 200px;
    margin: 0 auto;
}

input {
    display: block;
    max-width: 196px;
    width: 100%;
    margin: 10px 0;
    border: 0;
    padding: 6px 0;
    border: 2px black solid;
   
}

button {
    font-family: 'Open Sans', sans-serif;

    background-color: white;
    color: black;
    padding: 12px 7px;
    
    transition: background .1s
    linear, color .1s linear;
       
}

button:hover {
    background-color: #FFCE8B;
    color: white;
}

/* #showPassword {
    visibility: hidden;
} */


#password::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 25px;
    height: 25px;
    background: url('images/icons/eye2.png') no-repeat;
    background-size: cover;
}